body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro-100: #e5e7eb;
  --color-gray: #111827;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-xl: 20px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-sm: 14px;
  --padding-base: 16px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-9xs: 4px;
}