.tempimagejj2nww-1-icon {
  height: 68px;
  width: 72px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}

.cpa-daemon-verification-report {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
}

.c-p-a-demon-report,
.image-holder {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.c-p-a-demon-report {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  min-width: 303px;
}

.image-holder {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-7xs);
}

.project-project-name {
  width: 230px;
  display: inline-block;
  z-index: 2;
}

.date-current-date,
.project-project-name,
.verification-task-task {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}

.verification-task-task {
  align-self: stretch;
  z-index: 1;
}

.date-current-date {
  width: 195px;
  display: inline-block;
}

.file-analysis-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.file-analysis-box-wrapper {
  width: 384px;
  flex-direction: row;
  padding: 0 var(--padding-sm);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}

.file-analysis-box-wrapper,
.frame-inner,
.image-holder-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.image-holder-parent {
  width: 544px;
  flex-direction: column;
  gap: var(--gap-7xs);
}

.frame-inner {
  align-self: stretch;
  flex-direction: row;
  text-align: left;
  font-size: 30px;
  color: var(--color-gray);
  font-family: var(--font-roboto);
}

.summary {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 117px;
}

.number,
.total-files-analyzed {
  position: relative;
  line-height: 24px;
}

.number {
  font-size: var(--font-size-lg);
  line-height: 28px;
  display: inline-block;
  min-width: 82px;
}

.frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.potential-issues-found {
  position: relative;
  line-height: 24px;
  white-space: nowrap;
}

.number1 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
  display: inline-block;
  min-width: 82px;
}

.location-message-pair {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.verification-status {
  position: relative;
  line-height: 24px;
  white-space: nowrap;
}

.passfail {
  width: 107px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
  display: inline-block;
}

.frame2,
.sat,
.summary-parent {
  display: flex;
  align-items: flex-start;
}

.frame2 {
  flex-direction: column;
  justify-content: flex-start;
}

.sat,
.summary-parent {
  box-sizing: border-box;
  max-width: 100%;
}

.sat {
  width: 1600px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro-100);
  overflow-x: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-base);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}

.summary-parent {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs) var(--padding-sm);
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray);
  font-family: var(--font-roboto);
}

.file-analysis,
.location,
.message {
  position: relative;
  display: inline-block;
}

.file-analysis {
  margin: 0;
  width: 155px;
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
}

.location,
.message {
  line-height: 24px;
  min-width: 70px;
}

.message {
  min-width: 72px;
}

.location-message-triple {
  width: 191px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.category {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 73px;
}

.location-message-triple1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 26px 0 0;
}

.type {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 38px;
}

.location-message-triple2 {
  width: 158px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.priority {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 60px;
}

.frame3 {
  align-self: stretch;
  background-color: #b1b1b1;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: 133px;
}

.file-path {
  display: inline-block;
  min-width: 71px;
}

.file-path,
.issue-description {
  position: relative;
  line-height: 24px;
  z-index: 1;
}

.file-info-and-issues {
  width: 192px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.issue-type {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 85px;
  z-index: 1;
}

.file-info-and-issues1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 15px 0 0;
}

.issue-category {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}

.file-info-and-issues2 {
  width: 159px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.priority1 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 60px;
  z-index: 1;
}

.file-path-parent,
.notes-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

.file-path-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.notes-field {
  width: 1142px;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}

.rectangle {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: #e5e5e5;
}

.borders,
.file-analysis-parent,
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}


.borders.even {
  background-color: #f2f2f2;
  /* Light grey */
}

.borders.odd {
  background-color: #ffffff;
  /* White */
}



.file-analysis-parent,
.frame-parent {
  font-size: var(--font-size-base);
}

.file-analysis-parent {
  padding: 0 0 var(--padding-5xs) var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray);
  font-family: var(--font-roboto);
}

.legend {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 93px;
}

.issue-type-1 {
  width: 118px;
  display: inline-block;
  flex-shrink: 0;
}

.brief-explanation-of,
.issue-type-1 {
  position: relative;
  line-height: 24px;
}

.issue-type-1-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
}

.issue-type-2 {
  width: 118px;
  display: inline-block;
  flex-shrink: 0;
}

.brief-explanation-of1,
.issue-type-2 {
  position: relative;
  line-height: 24px;
}

.frame4,
.issue-type-2-parent,
.legend-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.issue-type-2-parent {
  flex-direction: row;
  row-gap: 20px;
}

.frame4,
.legend-parent {
  align-self: stretch;
  flex-direction: column;
  box-sizing: border-box;
  text-align: left;
  color: var(--color-gray);
  font-family: var(--font-roboto);
}

.frame4 {
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro-100);
  padding: var(--padding-base);
  font-size: var(--font-size-base);
}

.legend-parent {
  padding: 0 0 var(--padding-5xs) var(--padding-sm);
  gap: var(--gap-5xs);
  font-size: var(--font-size-5xl);
}

.frame5,
.notes {
  position: relative;
}

.frame5 {
  width: 48px;
  height: 48px;
  background-color: var(--color-white);
  display: none;
}

.notes {
  margin: 0;
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 76px;
}

.any-additional-notes {
  position: relative;
  line-height: 24px;
}

.comments-container {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
  font-size: var(--font-size-base);
}

.design-element-collection {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-sm);
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray);
  font-family: var(--font-roboto);
}

.design-1,
.design-element-collection,
.frame {
  display: flex;
  justify-content: flex-start;
}

.frame {
  flex: 1;
  background-color: var(--color-white);
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 0 0#000, 0 0 0#000;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-sm) 24px 48px 10px;
  box-sizing: border-box;
  gap: 16px;
  max-width: 100%;
}

.design-1 {
  width: 100%;
  position: relative;
  background-color: #f3f4f6;
  flex-direction: row;
  align-items: flex-start;
  letter-spacing: normal;
}

@media screen and (max-width: 1150px) {
  .frame3 {
    gap: 133px 66px;
  }
}

@media screen and (max-width: 1050px) {
  .cpa-daemon-verification-report {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
}

@media screen and (max-width: 750px) {
  .frame3 {
    gap: 133px 33px;
  }

  .file-path-parent {
    flex-wrap: wrap;
  }

  .borders {
    height: auto;
  }

  .frame {
    padding-top: 20px;
    padding-bottom: 31px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 450px) {
  .cpa-daemon-verification-report {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }

  .date-current-date,
  .project-project-name,
  .verification-task-task {
    font-size: var(--font-size-base);
    line-height: 22px;
  }

  .file-analysis,
  .summary {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }

  .frame3 {
    gap: 133px 17px;
  }

  .legend {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }

  .issue-type-1-parent,
  .issue-type-2-parent {
    flex-wrap: wrap;
  }

  .notes {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
}

/* Table Styling */
.file-analysis-parent table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  /* Adds space below the table */
}

.file-analysis-parent th,
.file-analysis-parent td {
  border: 1px solid #ddd;
  /* Adds borders to table cells */
  padding: 8px;
  /* Adds padding inside table cells */
  text-align: left;
  /* Aligns text to the left */
}

.file-analysis-parent th {
  background-color: #f2f2f2;
  /* Adds a background color to table headers */
  color: #333;
  /* Changes the text color of table headers */
  font-weight: bold;
  /* Makes the text bold in table headers */
}

.file-analysis-parent tr:nth-child(even) {
  background-color: #f2f2f2;
  /* Adds a background color to even rows for better readability */
}

.file-analysis-parent tr:hover {
  background-color: #ddd;
  /* Changes the background color of a row on hover */
}

/* Adjustments for responsive design */
@media screen and (max-width: 768px) {
  .file-analysis-parent table {
    display: block;
    overflow-x: auto;
  }
}