<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="design-1">
      <main class="frame">
        <section class="frame-inner">
          <div class="image-holder-parent">
            <div class="image-holder">
              <img
                class="tempimagejj2nww-1-icon"
                loading="lazy"
                alt=""
                src="{{ url_for('static', filename='icon.jpg') }}"
              />

              <div class="c-p-a-demon-report">
                <h2 class="cpa-daemon-verification-report">
                  CPA-Daemon Verification Report
                </h2>
              </div>
            </div>
            <div class="file-analysis-box-wrapper">
              <div class="file-analysis-box">
                <div class="project-project-name">
                  <span id="projectName">{{ projectName }}</span>
                </div>
                <div class="verification-task-task">
                  Verification Task: {{ taskDescription }}
                </div>
                <div class="date-current-date">Date: {{ currentDate }}</div>
              </div>
            </div>
          </div>
        </section>
        <section class="summary-parent">
          <h3 class="summary">Summary:</h3>
          <div class="sat">
            <div class="frame1">
              <div class="total-files-analyzed">Total Files Analyzed:</div>
              <b class="number">{{ totalFilesAnalyzed }}</b>
            </div>
            <div class="location-message-pair">
              <div class="potential-issues-found">Potential Issues Found:</div>
              <b class="number1">{{ potentialIssuesFound }}</b>
            </div>
            <div class="frame2">
              <div class="verification-status">Verification Status:</div>
              <b class="passfail">{{ verificationStatus }}</b>
            </div>
          </div>
        </section>
        <section class="file-analysis-parent">
          <h3 class="file-analysis">File Analysis:</h3>
          <div class="frame-parent">
            <div class="frame3">
              <b class="location">Location: </b>
              <div class="location-message-triple">
                <b class="message">Message: </b>
              </div>
              <div class="location-message-triple1">
                <b class="category">Category: </b>
              </div>
              <div class="location-message-triple2">
                <b class="type">Type: </b>
              </div>
              <b class="priority">Priority: </b>
            </div>
            {% for file in files %}
            <div
              class="borders {% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}"
            >
              <div class="notes-field">
                <div class="file-path-parent">
                  <div class="file-path">{{ file.filePath }}</div>
                  <div class="file-info-and-issues">
                    <div class="issue-description">
                      {{ file.issueDescription }}
                    </div>
                  </div>
                  <div class="file-info-and-issues1">
                    <div class="issue-type">{{ file.issueType }}</div>
                  </div>
                  <div class="file-info-and-issues2">
                    <div class="issue-category">{{ file.issueCategory }}</div>
                  </div>
                  <div class="priority1">{{ file.priority }}</div>
                </div>
              </div>
              <div class="rectangle"></div>
            </div>
            {% endfor %}
          </div>
        </section>

        <section class="legend-parent">
          <h3 class="legend">Legend:</h3>
          <footer class="frame4">
            <div class="issue-type-1-parent">
              <b class="issue-type-1">{{ issueType1 }}:</b>
              <div class="brief-explanation-of">
                {{ briefExplanationIssueType1 }}
              </div>
            </div>
            <div class="issue-type-2-parent">
              <b class="issue-type-2">{{ issueType2 }}:</b>
              <div class="brief-explanation-of1">
                {{ briefExplanationIssueType2 }}
              </div>
            </div>
          </footer>
        </section>
        <div class="frame5"></div>
        <section class="design-element-collection">
          <h3 class="notes">Notes:</h3>
          <div class="comments-container">
            <div class="any-additional-notes">{{ additionalNotes }}</div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
